body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-top: 10; /* Убирает верхний отступ у заголовка, если он есть */
    margin-bottom: 15px; /* Отступ от заголовка до описания: 15px */
    text-align: center;
}

.description {
    margin-top: 0;
    margin-bottom: 45px; 
    text-align: center;
    font-size: 18px;
}

.cta-button {
    margin-top: 0;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0071e3;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #005bbf;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

svg {
    margin-bottom: 70px; 
    width: 132px; 
    height: 132px; 
}

@keyframes blink {
    0%, 80% { opacity: 1; }
    40%, 50% { opacity: 0; }
}

.blink-cursor {
    animation: blink 1.5s infinite;
}
